{% extends "test_datetime/base.html" %}

{% block app_content %}
  <h1>Welcome!</h1>
  {{status}}
  <p>Congratulations on creating a new Tethys app!</p>
  <h1>String in DB</h1>
  {{rec_list}}
  <h1>converted</h1>
  {{rec_list_2}}
  <h1>saved datetime obj</h1>
  {{rec_list_saved_obj}}
  <h1>convert obj into string</h1>
  {{rec_list_parsed_obj}}
  <h1>status</h1>
  {{status2}}
{% endblock %}

{% block app_actions %}
  <a href="" class="btn btn-default">Next</a>
  <a href="" class="btn btn-default">Back</a>
{% endblock %}